<p id="notice"><%= notice %></p>


<% if  current_user.roles.exists?(name: 'admin')%>
<h2>Event</h2>
<%= link_to 'New Event', new_event_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Check Attendance</th>
      <th>Invite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.description %></td>
        <td><img class="w-50"src="<%= event.photo %>"></td>
        <td><%= link_to 'Check Attendant', menu_attendance_path(event.id) %></td>
        <td><%= link_to 'Invite', invite_path(event.id) %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <strong>Forbidden</strong>
<% end %>


